﻿
@using FOM.ViewModels;
@model ViewCustomerListModel

@{
    Layout = null;
    FOM.Core.EncryptDecrypt _encryptDecrypt = FOM.Core.EncryptDecrypt.Instance;
}


<div class="table-responsive registerTable">
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #3598dc;">
                <th colspan="1" class="sort">Sr.No.</th>
                <th><a href="javascript:void(0)" sortby="ClientCode" class="sort">ClientCode</a></th>
                <th><a href="javascript:void(0)" sortby="Name" class="sort">Name</a></th>
                <th><a href="javascript:void(0)" sortby="EmailId" class="sort">EmailId</a></th>
                <th><a href="javascript:void(0)" sortby="Project" class="sort">Phone</a></th>
                <th><a href="javascript:void(0)" sortby="Description" class="sort">Fax</a></th>
                <th style="min-width:100px;">@FOM.Resources.CommonResource.lblActive</th>
                <th class="action">@FOM.Resources.CommonResource.lblAction</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.customerList != null && Model.customerList.Count() > 0)
            {
                int srNo = 0;
                srNo = (Model.CurrentPage - 1) * Model.PageSize;

                foreach (var item in Model.customerList)
                {
                    srNo += 1;
                    <tr>
                        <td colspan="1">@srNo</td>
                        <td>@item.CustomerCode</td>
                        <td>@item.Name</td>
                        <td>@item.EmailId</td>
                        <td>@item.Phone</td>
                        <td>@item.Fax</td>
                        <td style="width:150px;">
                            @if (item.IsEnable)
                            {
                                <input class="chktoggle" id="chk_@item.CustomerId" type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Active" data-off="In Active" data-width="93">
                            }
                            else
                            {
                                <input class="chktoggle" id="chk_@item.CustomerId" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Active" data-off="In Active" data-width="93">
                            }

                            @*@(item.IsActive ? "Active" : "In Active")*@

                        </td>

                        <td class="action">
                            <a class="disabled" title="Edit"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                }
            }

            else
            {
                <tr>
                    <td colspan="9"><div class="no-record">@FOM.Resources.CommonResource.lblNoRecordFound</div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination-strip clearfix">
    <div class="show-page-number">
    </div>

    <div id="" class="pagination-wrp">
        <div class="row">
            @*<div class="col-sm-2">
                <div class="pg_pagesize text-left"></div>
            </div>*@
            <div class="col-sm-12">
                <div id="" class="pg_pager text-right" style="margin-right: 10px;"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PagingParameters", Model, new ViewDataDictionary<PaggingModel>())
