﻿
@{
    ViewBag.Title = "Dash Board";
    // Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />

}

<div class="custom-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Portal" })">Home</a>
            /
        </li>
    </ul>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("List", "Client", new { area = "Portal" })">List</a>
        </li>
    </ol>
    @*@Html.Raw(BreadCrumb.Display())*@

</div>


<div class="custom-listbox" style="max-width:100%;">
    <div class="tablebox">
        <div id="franchiseList_wrapper" class="dataTables_wrapper no-footer">
            <div class="headerbox list"><div class="row"><div class="col-md-1"><div class="dataTables_length" id="franchiseList_length"><label> <select name="franchiseList_length" aria-controls="franchiseList" class="form-control input-sm input-xsmall input-inline"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-md-4"><div id="franchiseList_filter" class="dataTables_filter"><label><input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="franchiseList">&nbsp;&nbsp; <a href="javascript:;" class="pull-left" style="padding:5px;color: #fff;">&nbsp;Search</a></label></div></div><div id="divrightckbox" class="col-md-5 pull-right text-center"><label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox" checked=""><span></span> Active</label><label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox"><span></span> Inactive</label><label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox"><span></span> Pending</label></div></div></div><div class="table-responsive">
                <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" id="franchiseList" role="grid" aria-describedby="franchiseList_info">
                    <thead>
                        <tr role="row">
                            <th style="width: 82px; text-align: center;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Customer ID
                                activate to sort column ascending">
                                Customer ID
                            </th>
                            <th style="text-align: center; width: 111px;" class="sorting_asc" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Customer Name
                                activate to sort column descending" aria-sort="ascending">
                                Customer Name
                            </th>
                            <th style="text-align: center; width: 253px;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Full Address
                                activate to sort column ascending">
                                Full Address
                            </th>
                            <th style="text-align: center; width: 58px;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Phone
                                activate to sort column ascending">
                                Phone
                            </th>
                            <th style="text-align: center; width: 88px;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Account Type
                                activate to sort column ascending">
                                Account Type
                            </th>
                            <th style="text-align: center; width: 113px;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                Contract Amount
                                activate to sort column ascending">
                                Contract Amount
                            </th>
                            <th style="text-align: center; width: 12px;" class="sorting" tabindex="0" aria-controls="franchiseList" rowspan="1" colspan="1" aria-label="
                                activate to sort column ascending">

                            </th>
                        </tr>
                    </thead>
                    <tbody>




























                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701072
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/73">ANDREW GERACE                                                                                                                                         </a>
                            </td>
                            <td style="font-size:13px" class="">
                                202 MAURICE STREET                      , BUFFALO                       , NY 14210
                            </td>
                            <td style="text-align:center">
                                (716) 824-0103
                            </td>
                            <td style="text-align:right">
                                $  89364.18
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701107
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/109">ANITA ALVORD D/B/A AMA ENT.                                                                                                                           </a>
                            </td>
                            <td style="font-size:13px" class="">
                                6326 CAMPBELL BOULEVARD                 , PENDLETON                     , NY 14094
                            </td>
                            <td style="text-align:center">
                                (716) 998-8950
                            </td>
                            <td style="text-align:right">
                                $  38704.12
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701084
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/85">BAJRO HADZIC                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                1384 EAST DELEVAN #2                    , BUFFALO                       , NY 14215
                            </td>
                            <td style="text-align:center">
                                (716) 877-8264
                            </td>
                            <td style="text-align:right">
                                $  4738.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701092
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/93">BASMAR CORPORATION                                                                                                                                    </a>
                            </td>
                            <td style="font-size:13px" class="">
                                1174 PAYNE AVENUE                       , NORTH TONAWANDA               , NY 14120
                            </td>
                            <td style="text-align:center">
                                (716) 695-0570
                            </td>
                            <td style="text-align:right">
                                $  1306.14
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701059
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/60">BOB J. GATES                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                12 HERTEL AVENUE, APT. 606              , BUFFALO                       , NY 14207
                            </td>
                            <td style="text-align:center">
                                (716) 603-3907
                            </td>
                            <td style="text-align:right">
                                $  2481.57
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701085
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/86">CRYSTAL FORD                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                462 HILL ROAD                           , HILTON                        , NY 14468
                            </td>
                            <td style="text-align:center">
                                (585) 313-9754
                            </td>
                            <td style="text-align:right">
                                $  3868.61
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701096
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/97">GRANDNUBIAN, LLC                                                                                                                                      </a>
                            </td>
                            <td style="font-size:13px" class="">
                                65 FORMAN STREET                        , BUFFALO                       , NY 14211
                            </td>
                            <td style="text-align:center">
                                (716) 310-4398
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701106
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/108">JACKSON 4 JACKSON, INC.                                                                                                                               </a>
                            </td>
                            <td style="font-size:13px" class="">
                                124 GERALD AVENUE                       , BUFFALO                       , NY 14215
                            </td>
                            <td style="text-align:center">
                                (716) 704-6161
                            </td>
                            <td style="text-align:right">
                                $  70038.95
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701112
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/114">JAM~AND~ASH, INC.                                                                                                                                     </a>
                            </td>
                            <td style="font-size:13px" class="">
                                95 ARBOUR LANE #2                       , BUFFALO                       , NY 14220
                            </td>
                            <td style="text-align:center">
                                (716) 602-8635
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701ZZ9
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/1">JANI KING BUFFALO-IN HOUSE                                                                                                                            </a>
                            </td>
                            <td style="font-size:13px" class="">
                                270 NORTHPOINTE PARKWAY #200            , AMHERST                       , NY 14228
                            </td>
                            <td style="text-align:center">
                                (716) 636-4840
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701ZZB
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/115">JANI-KING BUFFALO - BILLS                                                                                                                             </a>
                            </td>
                            <td style="font-size:13px" class="">
                                270 NORTHPOINTE PARKWAY                 , AMHERST                       , NY 14228
                            </td>
                            <td style="text-align:center">
                                (716) 636-4840
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701ZZC
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/116">JANI-KING BUFFALO-LIVE NATION                                                                                                                         </a>
                            </td>
                            <td style="font-size:13px" class="">
                                270 NORTHPOINTE PARKWAY                 , AMHERST                       , NY 14228
                            </td>
                            <td style="text-align:center">
                                (716) 636-4840
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701ZZA
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/106">JANI-KING OF BUFFALO SUPPLIES                                                                                                                         </a>
                            </td>
                            <td style="font-size:13px" class="">
                                270 NORTHPOINTE PKWY. #200              , AMHERST                       , NY 14228
                            </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701013
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/14">JIM DEVORE                                                                                                                                            </a>
                            </td>
                            <td style="font-size:13px" class="">
                                5632 KIES AVENUE                        , NIAGARA FALLS                 , NY 14304
                            </td>
                            <td style="text-align:center">
                                (716) 534-1976
                            </td>
                            <td style="text-align:right">
                                $  12259.75
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701083
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/84">JOE KOWALSKI                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                46 MICHELE DRIVE                        , DEPEW                         , NY 14043
                            </td>
                            <td style="text-align:center">
                                (716) 656-0267
                            </td>
                            <td style="text-align:right">
                                $  24721.64
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701094
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/95">JOHNNY ROBINSON                                                                                                                                       </a>
                            </td>
                            <td style="font-size:13px" class="">
                                4331 OAKWOOD AVENUE                     , BLASDELL                      , NY 14219
                            </td>
                            <td style="text-align:center">
                                (716) 536-6338
                            </td>
                            <td style="text-align:right">
                                $  10638.08
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701034
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/35">JONATHAN D. ARGENTINO                                                                                                                                 </a>
                            </td>
                            <td style="font-size:13px" class="">
                                34 WARSAW STREET                        , CHEEKTOWAGA                   , NY 14206
                            </td>
                            <td style="text-align:center">
                                (716) 444-1060
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701048
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/49">JOSEPH T. SWARTZMEYER                                                                                                                                 </a>
                            </td>
                            <td style="font-size:13px" class="">
                                105 GROTE STREET                        , BUFFALO                       , NY 14207
                            </td>
                            <td style="text-align:center">
                                (716) 715-8046
                            </td>
                            <td style="text-align:right">
                                $  3558.64
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701011
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/12">KEVIN M. BURNS                                                                                                                                        </a>
                            </td>
                            <td style="font-size:13px" class="">
                                612 Adams Avenue                        , Angola                        , NY 14006
                            </td>
                            <td style="text-align:center">
                                (716) 876-1006
                            </td>
                            <td style="text-align:right">
                                $  132071.47
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701110
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/112">LEHMAN CORP.                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                11 VIEW COURT                           , DEPEW                         , NY 14043
                            </td>
                            <td style="text-align:center">
                                (716) 668-1123
                            </td>
                            <td style="text-align:right">
                                $  7910.79
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701019
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/20">MYRAKLE, LLC                                                                                                                                          </a>
                            </td>
                            <td style="font-size:13px" class="">
                                348 LEROY AVENUE                        , BUFFALO                       , NY 14214
                            </td>
                            <td style="text-align:center">
                                (716) 292-0257
                            </td>
                            <td style="text-align:right">
                                $  8251.15
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701042
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/43">PAUL P. REIDENOUER                                                                                                                                    </a>
                            </td>
                            <td style="font-size:13px" class="">
                                5285 WILLIAM STREET                     , LANCASTER                     , NY 14086
                            </td>
                            <td style="text-align:center">
                                (716) 531-7342
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701074
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/75">ROMEO SANTIANO                                                                                                                                        </a>
                            </td>
                            <td style="font-size:13px" class="">
                                53 GRAND PRIX                           , CHEEKTOWAGA                   , NY 14227
                            </td>
                            <td style="text-align:center">
                                (716) 656-0208
                            </td>
                            <td style="text-align:right">
                                $  3455.51
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX even" role="row">
                            <td style="text-align:center" class="">
                                701095
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/96">SAMO ENTERPRISES, LLC                                                                                                                                 </a>
                            </td>
                            <td style="font-size:13px" class="">
                                1150 BAILEY AVENUE                      , BUFFALO                       , NY 14206
                            </td>
                            <td style="text-align:center">
                                (716) 440-3474
                            </td>
                            <td style="text-align:right">
                                $  0.00
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center" class="">
                                701103
                            </td>
                            <td class="sorting_1">
                                <a href="/Portal/Customer/Maintenance/104">TAINE S. NOWAK                                                                                                                                        </a>
                            </td>
                            <td style="font-size:13px" class="">
                                11090 LYNDALE LANE                      , ELMA                          , NY 14059
                            </td>
                            <td style="text-align:center">
                                (716) 714-9017
                            </td>
                            <td style="text-align:right">
                                $  19666.10
                            </td>
                            <td style="text-align:right"></td>
                            <td style="text-align:center">
                                <a href="#"><i class="fa fa-user"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><div class="bottom"><div class="dataTables_info" id="franchiseList_info" role="status" aria-live="polite">Showing 1 to 25 of 27 entries</div><div class="dataTables_paginate paging_bootstrap_number" id="franchiseList_paginate"><ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li></ul></div></div><div class="clear"></div>
        </div>

    </div>
</div>

@section pageplugins{
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
}

@section scripts{
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#franchiseList_wrapper').DataTable({
                "pageLength": 25, // default records per page
                "dom": "<'headerbox list'<'row'<'col-md-1'l><'col-md-4'f><'#divrightckbox.col-md-5 pull-right text-center'>>><'table-responsive't><'bottom'ip><'clear'>"// '<"top">rt<"bottom"lp><"clear">'
                //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r><'table-responsive't><'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>", // datatable layout
            });
            $("#divrightckbox_wrapper").append('<label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox" checked><span></span> Active</label><label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox"><span></span> Inactive</label><label class="mt-checkbox" style="margin: 4px 20px 0 0;padding-left: 25px;"><input type="checkbox"><span></span> Pending</label>');

        });
    </script>
}








