﻿
@{
    ViewBag.Title = "MaintenanceStepOne";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}

@section styles{
    <style type="text/css">
        .modal-dialog {
            width: 750px;
        }
    </style>

}

<div class="custom-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Portal" })">Home</a>
            /
        </li>
    </ul>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Save", "Client", new { area = "Portal" })">Add</a>
        </li>
    </ol>
    @*@Html.Raw(BreadCrumb.Display())*@

</div>

@using (Html.BeginForm("MaintenanceStepOne", "Franchise", FormMethod.Post, new { @id = "form_wizard_1", @role = "form", @class = "form form-horizontal" }))
{

    <div class="col-md-12 page-custom-header"><h5>Franchise Maintenance</h5></div>

    <div class="custom-form portlet light" id="">
        <div class="portlet-body">
            <div class="tab-pane active" id="tb_fr_page1">
                <h4 class="blocktop">Business Info</h4>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Name
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-10">
                        @Html.TextBox("Name", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Address
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-10">
                        @Html.TextBox("Address1", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        City
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        @Html.TextBox("City", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                    <label class="control-label col-md-1">
                        State
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        <select class="form-control input-sm" id="BusinessInfoAddress_State" name="BusinessInfoAddress_State">
                            <option>1</option>
                            <option>1</option>
                        </select>

                        @*@Html.DropDownList("StateList", null, "Select", new { @class = "form-control input-sm", required = "required", @id = "BusinessInfoAddress_State", name = "BusinessInfoAddress_State" })*@
                    </div>
                    <label class="control-label col-md-1">
                        Zip
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-2">
                        @Html.TextBox("PostalCode", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Phone
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        @Html.TextBox("Phone1", "", new { @class = "form-control input-sm", required = "required" })
                    </div>

                    <label class="control-label col-md-1">
                        Email
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-6">
                        @Html.TextBox("EmailAddress", "", new { @class = "form-control input-sm", required = "required", type = "email" })
                    </div>
                </div>
                <h4 class="block"> Contact</h4>
                <div class="form-group">
                    <label class="control-label col-md-2">
                    </label>
                    <div class="col-md-6">
                        <label class="mt-checkbox">
                            <input type="checkbox" id="chkcopyaddresstocontact">Same as Main
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        First Name
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.TextBox("FirstName", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                    <label class="control-label col-md-2">
                        Last Name
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.TextBox("LastName", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Address
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-10">
                        @Html.TextBox("Address1", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        City
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        @Html.TextBox("City", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                    <label class="control-label col-md-1">
                        State
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        <select class="form-control input-sm" id="ContactInfoAddress_State" name="BusinessInfoAddress_State">
                            <option>1</option>
                            <option>1</option>
                        </select>
                        @*@Html.DropDownList("StateList", null, "Select", new { @class = "form-control input-sm", required = "required", @id = "ContactInfoAddress_State", name = "ContactInfoAddress_State" })*@
                    </div>
                    <label class="control-label col-md-1">
                        Zip
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-2">
                        @Html.TextBox("PostalCode", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Phone
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-3">
                        @Html.TextBox("Phone1", "", new { @class = "form-control input-sm", required = "required" })
                    </div>
                    <label class="control-label col-md-1">
                        Ext
                    </label>
                    <div class="col-md-1">
                        @Html.TextBox("PhoneExt", "", new { @class = "form-control input-sm" })
                    </div>
                    <label class="control-label col-md-2">
                        Cell
                    </label>
                    <div class="col-md-3">
                        @Html.TextBox("Cell", "", new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Email
                    </label>
                    <div class="col-md-10">
                        @Html.TextBox("EmailAddress", "", new { @class = "form-control input-sm", type = "email" })
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <div class="form-actions">
            <div class="col-md-12" style="padding-right: 28px;">
                <button type="submit" class="btn btn-primary button-next  pull-right" id="btnContinue" style="margin-left: 10px;">
                    Cancel
                </button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary  pull-right" id="btnSave" style="margin-left: 10px;">
                    Save
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
}


