﻿@using MvcBreadCrumbs
@using FOM.ViewModels

<div id="divtopnav" class="page-bar" style="margin-top:-22px;background-color: transparent;">
    <div class="portlet-body">
        <div class="tabbable tabbable-tabdrop">

            @if (ViewBag.HMenu == VMenuEnum.Job.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "JobDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "JobDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJob", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJobList", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == VMenuEnum.FranchisePortal.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "FranchisePortalDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Service" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Service</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Inspections" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Inspection</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "FranchisePortalDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Save", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("List", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Customers", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Customers
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("Transaction", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Transaction
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("Collection", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Collection
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("Inspections", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Inspections
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("CustomerService", "FranchisePortal", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Customer Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == VMenuEnum.Employee.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "EmployeeDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "EmployeeDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Employee", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchEmployee", "Employee", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchEmployeeList", "Employee", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("EmployeeProfile", "Employee", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == VMenuEnum.Schedule.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "ScheduleDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "ScheduleDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Schedule", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchSchedule", "Schedule", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchScheduleList", "Schedule", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == VMenuEnum.Map.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "MapDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "MapDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Job View
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJob", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJobList", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Employee View
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == VMenuEnum.Report.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "ReportDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "ReportDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Report", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJob", "Report", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJobList", "Report", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == VMenuEnum.Other.ToString())
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "OtherDetail" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "Other" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "OtherDetail" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Add", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJob", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchJobList", "Job", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "Other" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner"></ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



