﻿@using System.Configuration 
 <!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy;  By
        <a target="_blank" href="">JaniKing</a> &nbsp;|&nbsp;
        <a href="" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">JaniKing</a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER --> 
</div>