﻿<meta charset="utf-8" />
<title>Metronic Admin Theme #2 | Blank Page Layout</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="Preview page of Metronic Admin Theme #2 for blank page layout" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/admin/assets/global/css/components-rounded.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/layout.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/themes/blue.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/custom.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->


<link rel="@Url.Content("https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css")" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet" />




 @*<style type="text/css">
     .page-bar .breadcrumb {
         display: inline-block;
         float: left;
         padding: 10px 6px;
         margin: 0;
         list-style: none;
         background-color: #fff;
     }
     .page-bar .breadcrumb > li {
         display: inline-block;
     }
     .page-bar {
         padding: 0;
         background-color: #fff;
         margin-bottom: 10px;
         -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
         -ms-border-radius: 4px;
         -o-border-radius: 4px;
         border-radius: 4px;
     }
     .nav-pills  {
         background-color: #212d41;
     }
       .nav-pills > li > a {
         color: #FFF;
     }
         .nav-pills > li > a:hover {
             color: #333;
         }
         .nav-pills > li {
             float: left;
             text-align: center;
             min-width: 20px;
         }
 </style>*@