﻿<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    @RenderSection("Head", required: false)

    @Html.Partial("_HeadView")

    @RenderSection("styles", required: false)

    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-boxed">

    @Html.Partial("_HeaderView")
    <div class="container">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            @Html.Partial("_SideBarView")
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">

                    @Html.Partial("_ContentView")
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        @Html.Partial("_FooterView")
    </div>
    <!-- External JavaScripts
    ============================================= -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/ie8.fix.min.js")"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    @*<script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME PAGE SCRIPTS -->
    @RenderSection("pageplugins", required: false)
    <!-- BEGIN THEME PAGE SCRIPTS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@Url.Content("~/Content/admin/assets/layouts/layout2/scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/layouts/layout2/scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/layouts/global/scripts/quick-nav.min.js")" type="text/javascript"></script>

    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>


    @RenderSection("scripts", required: false)
    <!-- End External JavaScripts
    ============================================= -->

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>

</body>
</html>