﻿@using FOM.ViewModels

<div class="clearfix"></div>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Dashboard.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Dashboard", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.FranchisePortal.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "FranchisePortal", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Franchise Portal</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Job.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Job", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Job</span>
                    <span class="arrow"></span>
                </a>
            </li>
           
            <li class="nav-item  @(ViewBag.HMenu == VMenuEnum.Employee.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Employee", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Employee</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Schedule.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Schedule", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Schedule</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Map.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Map", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Map</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Report.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Report", new { area = "Portal"})" cla class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Report</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.HMenu == VMenuEnum.Other.ToString() ? "active" : "")">
                <a href="@Url.Action("Index", "Other", new { area = "Portal"})" clas class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Other</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>

    </div>

</div>
