﻿@using FOM.ViewModels
@model ViewJobListModel
@{
    ViewBag.Title = "JobListing";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}

@using (Ajax.BeginForm("JobListing", "Job", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvJobList", OnComplete = "searchComplete" }, new { @id = "frmClient" }))
{

    @Html.HiddenFor(m => m.Message, new { id = "hdnMessage", Value = Model.Message })
    @Html.HiddenFor(m => m.MessageType, new { id = "hdnMessageType", Value = Model.MessageType })
    @Html.HiddenFor(m => m.RegionFranchiseMappingId, new { id = "hdnRegionFranchiseMappingId", Value = Model.RegionFranchiseMappingId })

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue recruitmentpage ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="marL7px">@ViewBag.Title</span>
                    </div>
                </div>
                <ul class="page-breadcrumb breadcrumb paddB20">
                    <li> <i class="fa fa-home"></i> <a href="~/Home/Index"> Home </a> <i class="fa fa-angle-right"></i> </li>
                    <li>@ViewBag.Title</li>
                </ul>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="floating-label">
                                @Html.Label("Search", new { @class = "control-label mandatory" })
                                @Html.TextBoxFor(x => x.SearchText, Model.SearchText, new { id = "txtSearchText", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label">
                                @Html.Label("Active", new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.ActiveStatus, ViewBag.TacticList == null ? new SelectList(new List<LookupModel>
                                (), "Id", "Name") : (SelectList)ViewBag.TacticList, "--All--", new { id = "ddlTectic", @class = "form-control chosen-select" })
                                @*@Html.ValidationMessageFor(m => m.TacticId)*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label">
                                <label class="control-label" for="newItem">&nbsp;</label>
                                <div class="col-md-12" style="text-align:left">
                                    <input id="btnSubmit" type="submit" value="Search" class="btn btn-primary" style="display: none" />
                                    <button type="button" class="btn btn-primary" id="btnSearch">
                                        Search
                                    </button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-primary button-next " id="btnReset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div id="dvJobtList">
                            @Html.Partial("_jobList", Model, new ViewDataDictionary<ViewJobListModel>())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/Paging.js"></script>

<script type="text/javascript">

    $("a.sort").click(function () { bindSort(this, "SortBy", "SortOrder", "ActionType", sendToServer) });
    createFooter("pg_pager", "pg_pagesize", parseInt($("#TotalPages").val()), parseInt($("#PageSize").val()), "ActionType", "CurrentPage", "PageSize", sendToServer);

    $(document).ready(function () {

        if ($("#hdnMessage").val() != "" && $("#hdnMessageType").val() != "") {
            showMessagePopup("divMessage", $("#hdnMessageType").val(), $("#hdnMessage").val());
        }

        $("#btnSearch").click(function () {
            $("#ActionType").val("search");
            $("#CurrentPage").val("1");
            sendToServer();
        });


    });

    function resetFilter() {
        $("select").uniform();
        $(".form-control").val("");
        $(".ddlMedium").val("");
        $("#ActionType").val("search");
        $("#CurrentPage").val("1");
        sendToServer();
    }


    function toggleOn(ClientId) {
        isUserCancelledConfirmBox = true;
        $('#chk_' + ClientId).bootstrapToggle('on')
    }
    function toggleOff(ClientId) {
        isUserCancelledConfirmBox = true;
        $('#chk_' + ClientId).bootstrapToggle('off')
    }

    function sendToServer() {
        $("#btnSubmit").click();
    }


    //search complete will call after search completion and create footer based on search criteria
    function searchComplete(xmlHttpRequest, textStatus) {
        createFooter("pg_pager", "pg_pagesize", parseInt($("#TotalPages").val()), parseInt($("#PageSize").val()), "ActionType", "CurrentPage", "PageSize", sendToServer);
        $("a.sort").click(function () { bindSort(this, "SortBy", "SortOrder", "ActionType", sendToServer) });
        setSortClass("SortBy", "SortOrder");
        endRequest();
    }
</script>
