﻿
@{
    ViewBag.Title = "Inspections";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue recruitmentpage ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="marL7px">@ViewBag.Title</span>
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb paddB20">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("Index", "FranchisePortal", new { area = "Portal"})"> Home </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>@ViewBag.Title</li>
            </ul>
            <div class="portlet-body">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>

