﻿@using System.Configuration 
 <!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy;  By
        <a target="_blank" href="">JaniKing</a> &nbsp;|&nbsp;
        <a href="" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">JaniKing</a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN QUICK NAV -->
    <nav class="quick-nav">
        <a class="quick-nav-trigger" href="#0">
            <span aria-hidden="true"></span>
        </a>
        <ul>
            <li>
                <a href="" target="_blank" class="active">
                    <span>JaniKing</span>
                    <i class="icon-basket"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <span>JaniKing</span>
                    <i class="icon-users"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <span>JaniKing</span>
                    <i class="icon-user"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <span>JaniKing</span>
                    <i class="icon-graph"></i>
                </a>
            </li>
        </ul>
        <span aria-hidden="true" class="quick-nav-bg"></span>
    </nav>
    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->
</div>