﻿@using MvcBreadCrumbs

<div id="divtopnav" class="page-bar" style="margin-top:-22px;background-color: transparent;">
    <div class="portlet-body">
        <div class="tabbable tabbable-tabdrop">
            @if (ViewBag.HMenu == "Franchise")
            {


                <ul class="nav custom-nav-pills">


                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseGeneral" ? "active" : "")">

                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseChargebacks" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-chargebacks.svg" alt="" />&nbsp;Chargebacks</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseNegativeDues" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-negative.svg" alt="" />&nbsp;Negative Dues</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseTransactions" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-transaction.svg" alt="" />&nbsp;Transactions</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseFranchiseeReport" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />&nbsp;Franchisee Report</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseCustomerLeads" ? "active" : "")">
                        <a href="#tab6" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-customer.svg" alt="" />&nbsp;Customer Leads</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseGeneral" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-genral">
                                <a href="@Url.Action("Maintenance", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("Search", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr-genral">
                                <a href="@Url.Action("SearchList", "Franchise", new { area = "Portal"})?searchin=7&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseChargebacks" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackLetterGenerate", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Letters
                                </a>

                            </li>
                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackPossible", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-possible.svg" alt="" />
                                    Possible
                                </a>

                            </li>
                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackTurnaround", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-turnaround.svg" alt="" />
                                    Turnaround
                                </a>

                            </li>
                            <li class="fr-chargebacks">
                                <a href="@Url.Action("ChargebackSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseNegativeDues" ? " active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-nagativedue">

                                <a href="@Url.Action("NegativeDuePossible", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-possible.svg" alt="" />
                                    Possible
                                </a>
                            </li>
                            <li class="fr-nagativedue">

                                <a href="@Url.Action("NegativeDueSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseTransactions" ? " active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-transactions">

                                <a href="@Url.Action("Transaction", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-single.svg" alt="" />
                                    Single
                                </a>

                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("Transaction", "Franchise", new { area = "Portal" })?recurring=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-recuring.svg" alt="" />
                                    Recurring
                                </a>

                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("TransactionImport", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />
                                    Import
                                </a>
                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("TransactionPendingList", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-panding.svg" alt="" />
                                    Pending
                                </a>
                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("TransactionSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseFranchiseeReport" ? " active" : "")" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsFinalize", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-finalize.svg" alt="" />
                                    Finalize
                                </a>

                            </li>
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsGenerate", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-generate.svg" alt="" />
                                    Generate
                                </a>

                            </li>
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsView", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseCustomerLeads" ? " active" : "")" id="tab6">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-customerlead">

                                <a href="@Url.Action("CustomerLeadsReport", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    Reports

                                </a>

                            </li>
                            <li class="fr-customerlead">

                                <a href="@Url.Action("FindersFeeBalances", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    Finders Fees

                                </a>

                            </li>
                            <li class="fr-customerlead">

                                <a href="@Url.Action("NoteList", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Notes
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "Account Receivable")
            {
                <ul class="nav custom-nav-pills">


                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableBillRun" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Bill Run</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;Reports</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/download.svg" alt="" />&nbsp;Invoices</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/incoming.svg" alt="" />&nbsp;Credits</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableOtherDeposits" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/cloud-computing-2.svg" alt="" />&nbsp;Other Deposits</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableBillRun" ? "active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("ProcessBillRun", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-9.svg" alt="" />
                                    Generate
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("ProcessUndoBillRun", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/navigation.svg" alt="" />
                                    Undo
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Aging", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-7.svg" alt="" />
                                    Aging
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("ARLog", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-8.svg" alt="" />
                                    AR Log
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("ChargeBackFee", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-9.svg" alt="" />
                                    Charge Back Fees
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("InvoicesDaily", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Daily
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesBulkPayment", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Enter Bulk Payment
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesBulkPayment", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-2.svg" alt="" />
                                    Enter Payment
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Generate
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesLockboxImport", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Lockbox Import
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Lockboximportresult", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-2.svg" alt="" />
                                    Lockbox Exception
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Overpaymentlist", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/fax.svg" alt="" />
                                    Over Paid
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Past Due
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesSearch", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Search
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("CreditsSearch", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />Search
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableOtherDeposits" ? "active" : "")" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("OtherDepositsAdd", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("OtherDepositsView", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == "AccountsPayable")
            {
                <ul class="nav custom-nav-pills">


                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableReport" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;Report</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableRegularCheckBook" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-1.svg" alt="" />&nbsp;Check Book</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableSTA" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-2.svg" alt="" />&nbsp;STA</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Commit Projections
                                </a>

                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/calendar.svg" alt="" />
                                    Monthly Expense Projections
                                </a>

                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    View Invoices
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    AP - Invoice Search
                                </a>

                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    AP - Open Invoices
                                </a>

                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-2.svg" alt="" />
                                    AP - Paid Invoices
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    View
                                </a>

                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("CheckGenerate", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Generate Checks
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("checkmanual", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list.svg" alt="" />
                                    Manual Check
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("registermaintenance", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Miscellenous Entry
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("otherDeposits", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark-1.svg" alt="" />
                                    Other Deposits
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("manualdeposit", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Remit - Payments
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("otherDeposits", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark-1.svg" alt="" />
                                    Other Deposits
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("searchRegister", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li>

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/checked.svg" alt="" />
                                    Unposted Checks
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("searchRegisterList", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    View
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "Customer")
            {
                <ul class="nav custom-nav-pills">


                    <li class="cr @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="cr @(ViewBag.CurrentMenu == "CustomerTransactions" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/sign-1.svg" alt="" />&nbsp;Transactions</a>
                    </li>
                    <li class="cr @(ViewBag.CurrentMenu == "CustomerCustomerService" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/user.svg" alt="" />&nbsp;Customer Service</a>
                    </li>
                    <li class="cr @(ViewBag.CurrentMenu == "CustomerCollections" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-14.svg" alt="" />&nbsp;Collections</a>
                    </li>
                    <li class="cr @(ViewBag.CurrentMenu == "CustomerReports" ? "active" : "")">
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Href("~/Portal/Customer/Maintenance")"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Add</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Grouping - ASP</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Properties</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Add</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Credit </a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Pending</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;View</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Unscheduled</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Call-Backs </a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Logs</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Call-Backs</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Logs</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Distribution</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Cancellations</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Increase/Decrease History</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;New Accounts</a>

                            </li>
                            <li>

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Increase/Decrease History</a>

                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "Administration")
            {
                <ul class="nav custom-nav-pills">


                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationLogs" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Logs</a>
                    </li>
                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationSystemSetUp" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;System Set-Up</a>
                    </li>
                   
                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationUsers" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/users.svg" alt="" />&nbsp;Users</a>
                    </li>
                    
                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationRegions" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Regions</a>
                    </li>
                   
                    <li class="ad">
                        <a href="#tab6" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/info.svg" alt="" />&nbsp;Company</a>
                    </li>
                    <li class="ad">
                        <a href="#tab7" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/info.svg" alt="" />&nbsp;Franchise Leads</a>
                    </li>
                    <li class="ad">
                        <a href="#tab8" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/info.svg" alt="" />&nbsp;Customer Leads</a>
                    </li>
                    <li class="ad">
                        <a href="#tab9" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/info.svg" alt="" />&nbsp;Customers</a>
                    </li>
                    
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />Appointment Types</a>
                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Billing Period</a>

                            </li>
                            <li>

                                <a href="@Url.Action("CPIList", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;CPI</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Tax Authority</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Transaction Cut Off </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Transaction Types</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Failed Log-On Attempts</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Site Activity </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Region Set-Up </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;System Set-Up</a>

                            </li>
                            <li>

                                <a href="@Url.Action("SystemConfiguration", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;System Configuration</a>

                            </li>
                        </ul>
                    </div>
                    
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;View All</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Add New</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Schedule Access</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/search-1.svg" alt="" />&nbsp;Search</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/lock-1.svg" alt="" />&nbsp;Security Definitions</a>

                            </li>
                        </ul>
                    </div>
                  
                    <div class="tab-pane" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/view-1.svg" alt="" />&nbsp;View All</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />&nbsp;Add New</a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/search-1.svg" alt="" />&nbsp;Search	</a>

                            </li>
                        </ul>
                    </div>
                   
                    <div class="tab-pane" id="tab6">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("CompanyConfiguration", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Company Configuration</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab7">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Sources</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab8">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Sources</a>
                            </li>
                            <li><a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Account Types</a></li>
                        </ul>
                    </div> 
                    <div class="tab-pane" id="tab9">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Areas</a>
                            </li>
                            <li><a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Inspection Areas</a></li>
                            <li><a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Inspection Items</a></li>
                            <li><a href="@Url.Action("#", "#", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Inspection Templates</a></li>
                        </ul>
                    </div>
                </div>

            }

            else if (ViewBag.HMenu == "Management")
            {
                <ul class="nav custom-nav-pills">


                    <li class="mn @(ViewBag.CurrentMenu == "ManagementReports" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Reports</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="mn-reports">
                                <a href="@Url.Action("CorporateDues", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Corporate Dues </a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("Deductions", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Deductions</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("DRO", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;DRO</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("leaseList", "Management",  new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Leases</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("leasepayment", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Lease Payments</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("revenue", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Monthly Revenue</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("starecap", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;STA Recap</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("taxliability", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Tax Liability</a>
                            </li>
                        </ul>
                    </div>
                </div>

            }
        </div>
    </div>
</div>



<div class="custom-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Management", new { area = "Portal" })">Home</a>
            /
        </li>
    </ul>

    @Html.Raw(BreadCrumb.Display())

</div>