﻿<!-- BEGIN SIDEBAR -->
<div class="clearfix"></div>
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item  @(ViewBag.HMenu == "Dashboard" ? "active" : "")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  @(ViewBag.HMenu == "Account Receivable" ? "active" : "")">
                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Accounts Receivable</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  @(ViewBag.HMenu == "AccountsPayable" ? "active" : "")">
                <a href="@Url.Action("Index", "AccountsPayable", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Accounts Payable</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item   @(ViewBag.HMenu == "Customer" ? "active" : "")">
                <a href="@Url.Action("Index", "Customer", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Customer</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  @(ViewBag.HMenu == "Franchise" ? "active" : "")">
                <a href="@Url.Action("Index", "Franchise", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Franchise</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  @(ViewBag.HMenu == "Administration" ? "active" : "")">
                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Administration</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  @(ViewBag.HMenu == "Management" ? "active" : "")">
                <a href="@Url.Action("Index", "Management", new { area = "Portal"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Management</span>
                    <span class="arrow"></span>
                </a>
            </li>
            
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->